<a href="https://colab.research.google.com/github/gundamp/NBA_Analytics/blob/main/NBA_data_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##NBA Analytics
- Back-to-back games win/loss
- Scores mean and standard deviation

###Read data and apply some basic filters

In [ ]:
import numpy as np 
import pandas as pd
import re

import datetime as dt
from datetime import datetime

!pip install pyspark
import pyspark
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark.sql import SparkSession

from google.colab import data_table
data_table.enable_dataframe_formatter()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.5)

In [ ]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path_games = "/content/drive/MyDrive/NBA/game_CC.csv"
path_teams = "/content/drive/MyDrive/NBA/teams.csv"

data_raw_games = pd.read_csv(path_games, encoding = 'ISO-8859-1')
data_raw_teams = pd.read_csv(path_teams, encoding = 'ISO-8859-1')

In [ ]:
#data_raw_games.head()
data_raw_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62361 entries, 0 to 62360
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               62361 non-null  int64
 1   team_id_home            62361 non-null  int64
 2   team_abbreviation_home  62361 non-null  object
 3   team_name_home          62361 non-null  object
 4   game_id                 62361 non-null  int64
 5   game_date               62361 non-null  object
 6   matchup_home            62361 non-null  object
 7   wl_home                 62354 non-null  object
 8   min                     62361 non-null  int64
 9   fgm_home                62343 non-null  float64
 10  fga_home                44499 non-null  float64
 11  fg_pct_home             44460 non-null  float64
 12  fg3m_home               46708 non-null  float64
 13  fg3a_home               41444 non-null  float64
 14  fg3_pct_home            41085 non-null  float64
 15  ftm_home                62340 non-null  float64
 16  fta_home                59325 non-null  float64
 17  ft_pct_home             59321 non-null  float64
 18  oreb_home               41158 non-null  float64
 19  dreb_home               41089 non-null  float64
 20  reb_home                44253 non-null  float64
 21  ast_home                44121 non-null  float64
 22  stl_home                41241 non-null  float64
 23  blk_home                41450 non-null  float64
 24  tov_home                41421 non-null  float64
 25  pf_home                 59425 non-null  float64
 26  pts_home                62361 non-null  int64
 27  plus_minus_home         62361 non-null  int64
 28  video_available_home    62361 non-null  int64
 29  team_id_away            62361 non-null  int64
 30  team_abbreviation_away  62361 non-null  object
 31  team_name_away          62361 non-null  object
 32  matchup_away            62361 non-null  object
 33  wl_away                 62354 non-null  object
 34  fgm_away                62346 non-null  float64
 35  fga_away                44500 non-null  float64
 36  fg_pct_away             44462 non-null  float64
 37  fg3m_away               46708 non-null  float64
 38  fg3a_away               41444 non-null  float64
 39  fg3_pct_away            41173 non-null  float64
 40  ftm_away                62346 non-null  float64
 41  fta_away                59328 non-null  float64
 42  ft_pct_away             59326 non-null  float64
 43  oreb_away               41158 non-null  float64
 44  dreb_away               41090 non-null  float64
 45  reb_away                44257 non-null  float64
 46  ast_away                44124 non-null  float64
 47  stl_away                41241 non-null  float64
 48  blk_away                41451 non-null  float64
 49  tov_away                41420 non-null  float64
 50  pf_away                 59432 non-null  float64
 51  pts_away                62361 non-null  int64
 52  plus_minus_away         62361 non-null  int64
 53  video_available_away    62361 non-null  int64
dtypes: float64(34), int64(11), object(9)
memory usage: 25.7+ MB

In [ ]:
data_raw_games.head()

Warning: Total number of columns (54) exceeds max_columns (20). Falling back to pandas display.

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68,2,0
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,51,-5,0
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,-6,0
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,22.0,47,-16,0
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,17,0

In [ ]:
data_raw_games['GAME_DATE_ADJ'] = pd.to_datetime(data_raw_games['game_date'], format='%Y-%m-%d')
data_raw_games.head()

Warning: Total number of columns (55) exceeds max_columns (20). Falling back to pandas display.

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,GAME_DATE_ADJ
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68,2,0,1946-11-01
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51,-5,0,1946-11-02
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53,-6,0,1946-11-02
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47,-16,0,1946-11-02
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50,17,0,1946-11-02

In [ ]:
data_raw_games['GAME_DATE_OFFSET'] = pd.DatetimeIndex(data_raw_games['GAME_DATE_ADJ']) + pd.DateOffset(-1)

###Split data so that each row represents just one team

In [ ]:
data_raw_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62361 entries, 0 to 62360
Data columns (total 56 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season_id               62361 non-null  int64
 1   team_id_home            62361 non-null  int64
 2   team_abbreviation_home  62361 non-null  object
 3   team_name_home          62361 non-null  object
 4   game_id                 62361 non-null  int64
 5   game_date               62361 non-null  object
 6   matchup_home            62361 non-null  object
 7   wl_home                 62354 non-null  object
 8   min                     62361 non-null  int64
 9   fgm_home                62343 non-null  float64
 10  fga_home                44499 non-null  float64
 11  fg_pct_home             44460 non-null  float64
 12  fg3m_home               46708 non-null  float64
 13  fg3a_home               41444 non-null  float64
 14  fg3_pct_home            41085 non-null  float64
 15  ftm_home                62340 non-null  float64
 16  fta_home                59325 non-null  float64
 17  ft_pct_home             59321 non-null  float64
 18  oreb_home               41158 non-null  float64
 19  dreb_home               41089 non-null  float64
 20  reb_home                44253 non-null  float64
 21  ast_home                44121 non-null  float64
 22  stl_home                41241 non-null  float64
 23  blk_home                41450 non-null  float64
 24  tov_home                41421 non-null  float64
 25  pf_home                 59425 non-null  float64
 26  pts_home                62361 non-null  int64
 27  plus_minus_home         62361 non-null  int64
 28  video_available_home    62361 non-null  int64
 29  team_id_away            62361 non-null  int64
 30  team_abbreviation_away  62361 non-null  object
 31  team_name_away          62361 non-null  object
 32  matchup_away            62361 non-null  object
 33  wl_away                 62354 non-null  object
 34  fgm_away                62346 non-null  float64
 35  fga_away                44500 non-null  float64
 36  fg_pct_away             44462 non-null  float64
 37  fg3m_away               46708 non-null  float64
 38  fg3a_away               41444 non-null  float64
 39  fg3_pct_away            41173 non-null  float64
 40  ftm_away                62346 non-null  float64
 41  fta_away                59328 non-null  float64
 42  ft_pct_away             59326 non-null  float64
 43  oreb_away               41158 non-null  float64
 44  dreb_away               41090 non-null  float64
 45  reb_away                44257 non-null  float64
 46  ast_away                44124 non-null  float64
 47  stl_away                41241 non-null  float64
 48  blk_away                41451 non-null  float64
 49  tov_away                41420 non-null  float64
 50  pf_away                 59432 non-null  float64
 51  pts_away                62361 non-null  int64
 52  plus_minus_away         62361 non-null  int64
 53  video_available_away    62361 non-null  int64
 54  GAME_DATE_ADJ           62361 non-null  datetime64[ns]
 55  GAME_DATE_OFFSET        62361 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(34), int64(11), object(9)
memory usage: 26.6+ MB

In [ ]:
data_games_frame_1 = data_raw_games.sort_values(['game_id'])
data_games_frame_2 = data_raw_games.sort_values(['game_id'])

data_games_frame_1['TEAM_ID'] = data_games_frame_1['team_id_home']
data_games_frame_2['TEAM_ID'] = data_games_frame_2['team_id_away']

data_games_frame_1['WIN_FLAG'] = (data_games_frame_1['wl_home'] == 'W')
data_games_frame_2['WIN_FLAG'] = (data_games_frame_1['wl_home'] != 'W')

data_games_frame_1['TEAM_NAME'] = data_games_frame_1['team_name_home']
data_games_frame_2['TEAM_NAME'] = data_games_frame_2['team_name_away']

data_games_frame_1['SCORE'] = data_games_frame_1['pts_home']
data_games_frame_2['SCORE'] = data_games_frame_2['pts_away']

data_games_frame_1['HOME_FLAG'] = 'Home'
data_games_frame_2['HOME_FLAG'] = 'Away'

data_games = pd.concat([data_games_frame_1, data_games_frame_2], axis = 0).drop(['team_id_home', 'team_id_away'], axis = 1)\
                              .sort_values(['game_id']).reset_index(drop = True)
data_games.head()
data_games.to_csv('check_split.csv')

In [ ]:
## Add a season filter

filter_season = data_games['season_id'] >= 22019

data_games_filter = data_games[filter_season]

In [ ]:
## For joins later

header_select = [
    
                 'GAME_DATE_ADJ'
                ,'game_id'
                ,'TEAM_ID'
                ,'TEAM_NAME'
                ,'WIN_FLAG'


                ]

df_join = data_games_filter[header_select]

In [ ]:
col_spark = [
    
              'GAME_DATE_ADJ'
              ,'GAME_DATE_OFFSET'
              ,'TEAM_ID'
              ,'TEAM_NAME'
              ,'HOME_FLAG'
              ,'WIN_FLAG'
              ,'SCORE'
              ,'season_id'             

              ]

df_spark_feed = data_games_filter[col_spark]

###Window Function with PySpark

In [ ]:
## Initiate Spark session
spark_1= SparkSession.builder.appName('app_1').getOrCreate()
df_1 = spark_1.createDataFrame(df_spark_feed)

In [ ]:
## Customise Windows to apply the Window Functions to
#Window_Home = Window.partitionBy("HOME_TEAM_ID").orderBy("GAME_DATE")
#Window_Away = Window.partitionBy("VISITOR_TEAM_ID").orderBy("GAME_DATE")
Window_Team_by_Date = Window.partitionBy("TEAM_ID").orderBy("GAME_DATE_ADJ")
Window_Team_by_Season = Window.partitionBy("TEAM_ID").orderBy("season_id")
Window_Team = Window.partitionBy("TEAM_ID").orderBy("HOME_FLAG")


## Derive information from customised Windows above
df_spark = df_1.withColumn("GAME_DATE_PREV", F.lag("GAME_DATE_ADJ", 1).over(Window_Team_by_Date)) \
               .withColumn("Back_to_Back_FLAG", F.when(F.col("GAME_DATE_OFFSET") == F.col("GAME_DATE_PREV"), 1) \
               .otherwise(0)) \
               .withColumn("SCORE_AVG", F.avg("SCORE").over(Window_Team)) \
               .withColumn("SCORE_AVG_by_Season", F.avg("SCORE").over(Window_Team_by_Season)) \
               .withColumn("SCORE_STD", F.stddev("SCORE").over(Window_Team))
            #.show()

#df_spark_away = df_1.withColumn("GAME_DATE_PREV_AWAY_TEAM", F.lag("GAME_DATE", 1).over(Window_Away)) \
#                    .withColumn("Back_to_Back_FLAG", F.when(F.col("GAME_DATE_OFFSET") == F.col("GAME_DATE_PREV_AWAY_TEAM"), 1) \
#                    .otherwise(0))

In [ ]:
df = df_spark.toPandas()
#df.to_csv('check_split.csv')

In [ ]:

#pd.merge(df_home, df_join, left_on = ['GAME_DATE_PREV_HOME_TEAM', 'HOME_TEAM_ID'], right_on = ['GAME_DATE', 'HOME_TEAM_ID'], how = 'left')
df_merge = pd.merge(df, df_join, left_on = ['GAME_DATE_PREV', 'TEAM_ID'], right_on = ['GAME_DATE_ADJ', 'TEAM_ID'], how = 'left')

In [ ]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8762 entries, 0 to 8761
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GAME_DATE_ADJ_x      8762 non-null   datetime64[ns]
 1   GAME_DATE_OFFSET     8762 non-null   datetime64[ns]
 2   TEAM_ID              8762 non-null   int64
 3   TEAM_NAME_x          8762 non-null   object
 4   HOME_FLAG            8762 non-null   object
 5   WIN_FLAG_x           8762 non-null   bool
 6   SCORE                8762 non-null   int64
 7   season_id            8762 non-null   int64
 8   GAME_DATE_PREV       8732 non-null   datetime64[ns]
 9   Back_to_Back_FLAG    8762 non-null   int32
 10  SCORE_AVG            8762 non-null   float64
 11  SCORE_AVG_by_Season  8762 non-null   float64
 12  SCORE_STD            8762 non-null   float64
 13  GAME_DATE_ADJ_y      8732 non-null   datetime64[ns]
 14  game_id              8732 non-null   float64
 15  TEAM_NAME_y          8732 non-null   object
 16  WIN_FLAG_y           8732 non-null   object
dtypes: bool(1), datetime64[ns](4), float64(4), int32(1), int64(3), object(4)
memory usage: 1.1+ MB

In [ ]:
col = [
         'TEAM_ID'
        ,'TEAM_NAME_x'
        ,'GAME_DATE_ADJ_x'
        ,'HOME_FLAG'
        ,'WIN_FLAG_x'
        ,'WIN_FLAG_y'
        ,'SCORE_AVG'
        ,'SCORE_AVG_by_Season'
        ,'SCORE_STD'
        ,'season_id'
      ]

df_b2b_interim = df_merge[df_merge['Back_to_Back_FLAG'] == 1]
df_b2b = df_b2b_interim[col].sort_values(['TEAM_ID', 'GAME_DATE_ADJ_x']).reset_index(drop = True)

In [ ]:
df_b2b.to_csv('check.csv')

### Summary Stats

In [ ]:
## Get team names

#df_teams = data_raw_teams[['TEAM_ID', 'ABBREVIATION']]
#df_stats = pd.merge(df_b2b, df_teams, on = 'TEAM_ID', how = 'left')

In [ ]:
df_b2b.WIN_FLAG_x.mean()

0.452991452991453

In [ ]:
print(df_merge.groupby(['HOME_FLAG']).mean())
print(df_b2b.groupby(['HOME_FLAG']).mean())

                TEAM_ID  WIN_FLAG_x       SCORE     season_id  \
HOME_FLAG
Away       1.610613e+09    0.444647  111.116412  22020.501027
Home       1.610613e+09    0.555353  113.043141  22020.501027

           Back_to_Back_FLAG   SCORE_AVG  SCORE_AVG_by_Season  SCORE_STD  \
HOME_FLAG
Away                0.197215  111.116412           111.792130  12.256301
Home                0.149966  112.073237           111.776185  12.362129

                game_id
HOME_FLAG
Away       2.205010e+07
Home       2.205019e+07
                TEAM_ID  WIN_FLAG_x   SCORE_AVG  SCORE_AVG_by_Season  \
HOME_FLAG
Away       1.610613e+09    0.399306  111.034705           111.724042
Home       1.610613e+09    0.523592  112.087496           111.795065

           SCORE_STD     season_id
HOME_FLAG
Away       12.269285  22020.506944
Home       12.333269  22020.490107

In [ ]:
df_b2b[df_b2b['HOME_FLAG'] == 'Away'].groupby(['TEAM_NAME_x']).mean()

,TEAM_ID,WIN_FLAG_x,SCORE_AVG,SCORE_AVG_by_Season,SCORE_STD,season_id
TEAM_NAME_x,,,,,,
Atlanta Hawks,1.610613e+09,0.259259,112.349315,112.942655,12.234825,22020.481481
Boston Celtics,1.610613e+09,0.527778,112.404110,113.164243,12.191336,22020.555556
Brooklyn Nets,1.610613e+09,0.333333,114.778523,113.857138,11.642098,22020.481481
Charlotte Hornets,1.610613e+09,0.200000,110.804054,106.839208,13.678852,22020.300000
Chicago Bulls,1.610613e+09,0.565217,110.176056,109.259239,10.739533,22020.608696
Cleveland Cavaliers,1.610613e+09,0.260870,105.728571,106.563995,11.274114,22020.434783
Dallas Mavericks,1.610613e+09,0.392857,112.278912,113.986913,12.034074,22020.678571
Denver Nuggets,1.610613e+09,0.518519,111.737931,112.830250,11.520526,22020.444444
Detroit Pistons,1.610613e+09,0.233333,106.748252,106.866185,12.524606,22020.566667
Golden State Warriors,1.610613e+09,0.406250,110.553191,110.407990,13.226826,22020.750000
Houston Rockets,1.610613e+09,0.250000,111.551020,113.526158,13.004311,22020.464286
Indiana Pacers,1.610613e+09,0.464286,111.673469,111.961698,12.241946,22020.571429
LA Clippers,1.610613e+09,0.451613,111.906040,114.145931,12.787421,22020.548387
Los Angeles Lakers,1.610613e+09,0.500000,112.081633,112.360823,12.155111,22020.566667
Memphis Grizzlies,1.610613e+09,0.416667,113.744828,113.460082,12.038007,22020.541667
Miami Heat,1.610613e+09,0.400000,108.148649,110.440162,11.445443,22020.500000
Milwaukee Bucks,1.610613e+09,0.600000,115.378378,118.418643,14.295428,22020.480000
Minnesota Timberwolves,1.610613e+09,0.304348,115.744681,113.411811,11.281087,22020.478261
New Orleans Pelicans,1.610613e+09,0.250000,112.027211,114.363824,11.082471,22020.416667
New York Knicks,1.610613e+09,0.520000,107.159722,106.430217,13.731523,22020.320000
Oklahoma City Thunder,1.610613e+09,0.352941,106.923611,108.214110,12.826480,22020.441176
Orlando Magic,1.610613e+09,0.171429,105.891892,105.993140,11.317397,22020.628571
Philadelphia 76ers,1.610613e+09,0.608696,110.445205,111.824401,12.206291,22020.695652
Phoenix Suns,1.610613e+09,0.600000,113.344828,114.282026,11.726264,22020.400000
Portland Trail Blazers,1.610613e+09,0.320000,110.546667,113.936783,12.401335,22020.520000
Sacramento Kings,1.610613e+09,0.433333,112.417808,111.509112,12.344345,22020.266667
San Antonio Spurs,1.610613e+09,0.393939,112.013605,112.954771,13.055197,22020.515152
Toronto Raptors,1.610613e+09,0.425000,110.195946,111.800516,11.957782,22020.400000
Utah Jazz,1.610613e+09,0.346154,112.671141,113.480481,12.387572,22020.730769
Washington Wizards,1.610613e+09,0.468750,111.716216,113.987431,12.253580,22020.468750

In [ ]:
df_b2b.groupby(['TEAM_NAME_x', 'HOME_FLAG'])["SCORE_AVG", "SCORE_STD"].mean()

<ipython-input-172-89b6561d5e66>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_b2b.groupby(['TEAM_NAME_x', 'HOME_FLAG'])["SCORE_AVG", "SCORE_STD"].mean()

                                   SCORE_AVG  SCORE_STD
TEAM_NAME_x            HOME_FLAG
Atlanta Hawks          Away       112.349315  12.234825
                       Home       114.159170  12.351434
Boston Celtics         Away       112.404110  12.191336
                       Home       113.493197  13.905027
Brooklyn Nets          Away       114.778523  11.642098
                       Home       114.197952  11.867782
Charlotte Hornets      Away       110.804054  13.678852
                       Home       110.194444  12.627484
Chicago Bulls          Away       110.176056  10.739533
                       Home       110.657343  11.847040
Cleveland Cavaliers    Away       105.728571  11.274114
                       Home       107.604167  11.545528
Dallas Mavericks       Away       112.278912  12.034074
                       Home       112.710438  12.364550
Denver Nuggets         Away       111.737931  11.520526
                       Home       113.884354  11.845431
Detroit Pistons        Away       106.748252  12.524606
                       Home       107.364583  11.997491
Golden State Warriors  Away       110.553191  13.226826
                       Home       112.303136  12.663287
Houston Rockets        Away       111.551020  13.004311
                       Home       111.368601  13.112029
Indiana Pacers         Away       111.673469  12.241946
                       Home       112.901695  11.949746
LA Clippers            Away       111.906040  12.787421
                       Home       112.605442  13.748128
Los Angeles Lakers     Away       112.081633  12.155111
                       Home       112.852740  11.879502
Memphis Grizzlies      Away       113.744828  12.038007
                       Home       114.287671  12.128441
Miami Heat             Away       108.148649  11.445443
                       Home       109.706081  11.473393
Milwaukee Bucks        Away       115.378378  14.295428
                       Home       117.217687  13.211081
Minnesota Timberwolves Away       115.744681  11.281087
                       Home       114.251748  12.174733
New Orleans Pelicans   Away       112.027211  11.082471
                       Home       113.238908  11.072191
New York Knicks        Away       107.159722  13.731523
                       Home       108.148789  13.280965
Oklahoma City Thunder  Away       106.923611  12.826480
                       Home       108.744027  13.181531
Orlando Magic          Away       105.891892  11.317397
                       Home       106.566102  11.885002
Philadelphia 76ers     Away       110.445205  12.206291
                       Home       112.208191  12.079687
Phoenix Suns           Away       113.344828  11.726264
                       Home       114.309524  11.562685
Portland Trail Blazers Away       110.546667  12.401335
                       Home       112.691525  12.789096
Sacramento Kings       Away       112.417808  12.344345
                       Home       113.565068  12.882467
San Antonio Spurs      Away       112.013605  13.055197
                       Home       112.508591  12.235721
Toronto Raptors        Away       110.195946  11.957782
                       Home       111.363946  11.689974
Utah Jazz              Away       112.671141  12.387572
                       Home       114.329932  11.664683
Washington Wizards     Away       111.716216  12.253580
                       Home       112.784983  13.884979

In [ ]:
pd.set_option('display.max_rows', None)
df_b2b.groupby(['TEAM_NAME_x', 'season_id'])["SCORE_AVG_by_Season"].mean()

TEAM_NAME_x             season_id
Atlanta Hawks           22019        111.761194
                        22020        112.762590
                        22021        113.199095
                        22022        114.159170
Boston Celtics          22019        113.652778
                        22020        113.138889
                        22021        112.637168
                        22022        113.493197
Brooklyn Nets           22019        111.777778
                        22020        115.173611
                        22021        114.349558
                        22022        114.197952
Charlotte Hornets       22019        102.876923
                        22020        106.335766
                        22021        109.703196
                        22022        110.194444
Chicago Bulls           22019        106.846154
                        22020        108.861314
                        22021        109.890411
                        22022        110.657343
Cleveland Cavaliers     22019        106.892308
                        22020        105.284672
                        22021        106.223744
                        22022        107.604167
Dallas Mavericks        22019        117.013333
                        22020        114.775510
                        22021        112.358079
                        22022        112.710438
Denver Nuggets          22019        111.287671
                        22020        113.158621
                        22021        113.000000
                        22022        113.884354
Detroit Pistons         22019        107.242424
                        22020        106.913043
                        22021        106.136364
                        22022        107.364583
Golden State Warriors   22019        106.338462
                        22020        110.211679
                        22021        110.506849
                        22022        112.303136
Houston Rockets         22019        117.805556
                        22020        113.298611
                        22021        112.000000
                        22022        111.368601
Indiana Pacers          22019        109.438356
                        22020        112.351724
                        22021        112.030837
                        22022        112.901695
LA Clippers             22019        116.347222
                        22020        115.180556
                        22021        112.725664
                        22022        112.605442
Los Angeles Lakers      22019        113.436620
                        22020        111.475524
                        22021        111.702222
                        22022        112.852740
Memphis Grizzlies       22019        112.630137
                        22020        112.958621
                        22021        113.916300
                        22022        114.287671
Miami Heat              22019        112.041096
                        22020        110.068966
                        22021        110.052863
                        22022        109.706081
Milwaukee Bucks         22019        118.671233
                        22020        119.393103
                        22021        117.982379
                        22022        117.217687
Minnesota Timberwolves  22019        113.250000
                        22020        112.654412
                        22021        113.889908
                        22022        114.251748
New Orleans Pelicans    22019        115.847222
                        22020        115.222222
                        22021        113.070796
                        22022        113.238908
New York Knicks         22019        105.803030
                        22020        106.442029
                        22021        106.454545
                        22022        108.148789
Oklahoma City Thunder   22019        110.416667
                        22020        107.708333
                        22021        106.265487
                        22022        108.744027
Orlando Magic           22019        107.273973
                        22020        105.648276
                        22021        105.136564
                        22022        106.566102
Philadelphia 76ers      22019        110.739726
                        22020        112.179310
                        22021        111.370044
                        22022        112.208191
Phoenix Suns            22019        113.616438
                        22020        114.441379
                        22021        114.581498
                        22022        114.309524
Portland Trail Blazers  22019        114.972973
                        22020        115.534247
                        22021        112.188596
                        22022        112.691525
Sacramento Kings        22019        110.097222
                        22020        111.916667
                        22021        111.331858
                        22022        113.565068
San Antonio Spurs       22019        114.056338
                        22020        112.559441
                        22021        112.777778
                        22022        112.508591
Toronto Raptors         22019        112.750000
                        22020        112.006944
                        22021        111.057522
                        22022        111.363946
Utah Jazz               22019        111.291667
                        22020        113.854167
                        22021        113.765487
                        22022        114.329932
Washington Wizards      22019        114.416667
                        22020        115.527778
                        22021        113.022124
                        22022        112.784983
Name: SCORE_AVG_by_Season, dtype: float64

In [ ]:
#%%shell
#jupyter nbconvert --to html /content/NBA_data_analytics.ipynb